.navWrap {
  height: 7rem;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid var(--Gray300, #e5e2e8);
  background: #fff;
}

.linkWrap {
  display: flex;
  align-items: center;
}

.logoImgWrap {
  width: 8rem;
  height: 5rem;
  font-size: 1.5rem;
}

.aboutWeddy {
  font-size: 1.5rem;
  color: #aaa;
  margin-left: 4rem;
}

.lonInWrap {
  display: flex;
}

.logInBtn,
.logOutBtn {
  border: 1px solid #bbb;
  padding: 0.7rem 1.4rem;
  border-radius: 0.5rem;
  color: #bbb;
  font-size: 1.1rem;
}
.side {
  font-size: 4rem;
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
}
.sideControl {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  color: var(--Gray600, #756d80);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: -0.45px;

  @media all and (max-width: 599px) {
    display: none;
  }
}
