.checkModalWrap {
  width: 45%;
  height: 100vh;
  position: fixed;
  background-color: white;
  right: 0;
  top: 0;
  z-index: 1;
  border-left: 1px solid #ccc;
  opacity: 1;
}

.modalContents {
  width: 100%;
  height: 95%;
  padding: 4rem 6rem 2rem;
}

.modalForm {
  width: 100%;
  height: 94%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & > .formFlex {
    
    & > * {
      margin-bottom: 3rem;
    }
  
    & > button > p {
      margin-right: 0.5rem;
    }
  
    & > h2 {
      font-size: 3rem;
    }
  
    & > .assignee {
      margin-bottom: 1rem;
    }
  
    & > .people {
      display: flex;
      margin-bottom: 3rem;
    }
  }
}

.assigneeBtn {
  margin-right: 3rem;
  padding: 1rem 7rem;
  border-radius: 1.5rem;
  background-color: #f5f5f5;
  color: #959595;
  font-size: 1.6rem;

  &:hover {
    background-color: #f5f5f5;
  }

  &.active {
    border: 1px solid #7034f3;
    color: #7034f3;
    background-color: white;
  }
}

.progress {
  height: 3rem;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-weight: 900;
}

.before {
  background-color: #e5e2e8;
  color: #756d80;
}

.now {
  background-color: #dacdff;
  color: #7034f3;
}

.complete {
  background-color: #7034f3;
  color: #fff;
}

.label {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #78757C;

  & > p {
    margin-left: 0.8rem;
  }

  & > input {
    margin-left: 0.8rem;
    color: #78757C;
  }
}

.amount {

  & > input {
    width: 8rem;
  }

  & > input::-webkit-outer-spin-button,
  & > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.modalNav {
  width: 100%;
  height: 5%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.6rem;
  padding: 0 3rem;

  & > button,
  .trashIcon {
    color: #ccc;
    cursor: pointer;
  }
}

.detail {
  width: 100%;
  height: 45%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 0;
}

.detailIcon {
  display: flex;
  margin-bottom: 1rem;
}

.detailIconMargin {
  margin-right: 0.8rem;
}

.modalDetail {
  width: 100%;
  height: 85%;
  font-size: 1.5rem;
  position: relative;
}

.placeholder {
  color: #aaa;
}

.modalFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  & > .footerContents {
    width: 100%;
    height: 45%;
    margin-bottom: 3rem;
  }

  & > .saveBtn {
    width: 100%;
    background-color: #7034f3;
    color: #fff;
    padding: 1.6rem 0;
    font-size: 2rem;
    border-radius: 1rem;
    font-weight: 500;
  }
}

.modalUL {
  width: 13rem;
  padding: 2rem 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;

  & > li:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.modalSpan {
  margin-left: 0.5rem;
}

.editorWrap {
  width: 100%;
  height: 92%;
}

.editorContents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editor {
  width: 100%;
  height: 92%;
  border: none;
  outline: none;
  overflow-y: auto;
  line-height: 1.5;
  font-size: 1.5rem;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #7034f3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 10px;
  }
}

.editorBtns {
  display: flex;
  justify-content: space-between;
}
