.workSide {
  display: flex;
  position: relative;
}

.dashBoardMain {
  width: 100%;
  margin-top: 7rem;
  background: var(--Gray200, #f9f9fb);
  min-width: calc(100% - 24rem);
  padding: 2.7rem 5rem 3rem;
  position: relative;
}


.progressWrap {
  width: 100%;
  margin-bottom: 6rem;
  
  & > p {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
  }
}

.progressContents {
  width: 100%;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  text-align: center;

  & > div {
    width: 100%;
    height: 100%;
    padding: 2.4rem 0;
    border-radius: 1rem;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
    & > p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    & > span {
      font-size: 1.9rem;
      font-weight: bold;
    }
  }
}

.amountWrap {
  width: 100%;
  margin-bottom: 6rem;
  
  & > p {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
  }
}

.amountContents {
  width: 100%;
  background-color: white;
  border-radius: 1.5rem;
  padding: 3rem 2rem;

  & > p {
    font-size: 3.2rem;
    color: #7034F3;
    font-weight: bold;
    margin-left: 2rem;
  }
}

.amountUl {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 3rem;

  & > li {
    width: 25%;
    height: 8rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    & > div {
      margin-left: 1.5rem;

      & > p {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      & > span {
        font-size: 1.9rem;
        font-weight: 600;
      }
    }
  }
}


.sideMenuBox {
  min-width: 0rem;
  transition: all 0.5s;
}
.sideMenuBox.active {
  min-width: 24rem;
}


.dashBoardModalWrap {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 11;
}

.dashBoardModalContents {
  width: 35%;
  height: 60%;
  background-color: white;
  padding: 3rem;
  position: relative;
  border-radius: 1.5rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.modalGNB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  & > p {
    font-size: 2.2rem;
    font-weight: 700;
  }

  & > button {
    font-size: 2.5rem;
    color: #ADA8B8;
  }
}

.modalGNBImg {
  display: flex;
  justify-content: center;
}

.dashBoardModalUl {
  margin-top: 3rem;
  font-size: 1.7rem;

  & > li {
    display: flex;
    margin-bottom: 2rem;
    position: relative;

    & > p {
      margin-right: 2rem;
    }

    & > .modalAmount {
      position: absolute;
      right: 0;
    }
  }
}


.assigneeNameWrap {
  width: 100%;

  & > p {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
  }
}

.assigneeNameContent {
  display: flex;

  & > div {
    width: 50%;
    height: 22.8rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1.5rem;

    & > p {
      font-size: 5.8rem;
      font-weight: 600;
      margin-left: 6rem;
    }
  }

  & > div:first-child {
    margin-right: 2rem;
  }
}