// @use "../../../../styles/main.scss" as *; // ✅ main.scss 가져오기

.dashWrap {
  min-width: 29.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  opacity: 1;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;

  @media all and (max-width: 599px) {
    min-width: 28.1rem;
  }
}

.dashWrapNone {
  display: none;
  opacity: 0;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    display: flex;
    & > div {
      position: relative;
    }
  }
  & form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & h2,
  form {
    width: 90%;
    flex: 1;
    color: #000;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.6px;
    @media all and (max-width: 599px) {
      font-size: 2.2rem;
    }
  }
  & input {
    width: 90%;
    color: #000;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.6px;
    @media all and (max-width: 599px) {
      font-size: 2.2rem;
    }
  }
  & button {
    flex: 1;
    color: gray;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.6px;
  }

  & img {
    cursor: pointer;
  }
}

.cardWrap,
.cardWrapNone {
  max-width: 29.2rem;
  min-height: 14.2rem;
  height: fit-content;
  padding: 2.2rem 2.7rem;
  border-radius: 2rem;
  border: 1px solid #e5e2e8;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  cursor: pointer;

  & .title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;

    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.5px;
    @media all and (max-width: 599px) {
      font-size: 1.8rem;
    }

    & h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      // @include ellipsis;
    }
  }
}
.cardWrapNone {
  filter: grayscale(1);
  opacity: 0.4;
}
.colorTag {
  min-width: 2rem;
  height: 2rem;
  border-radius: 500px;
  border: 1px solid #7034f3;
  background: #7034f3;
}
.assignee,
.date {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;

  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;

  @media all and (max-width: 599px) {
    font-size: 1.3rem;
  }
}

.cardState {
  display: flex;
  // width: 4.5rem;
  width: fit-content;
  height: 1.8rem;
  padding: 2px 8px 2px 9px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--Gray300, #e5e2e8);

  color: var(--Gray600, #756d80);
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 14px */
  letter-spacing: -0.25px;
}

.cardState2 {
  border-radius: 100px;
  background: var(--Primary-Color_Soft, #dacdff);

  color: var(--Primary-Color, #7034f3);
}
.cardState3 {
  border-radius: 100px;
  background: var(--Primary-Color, #7034f3);

  color: #fff;
}

.droppableContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
