@mixin respondTo($breakpoint) {
  @if $breakpoint == tab {
    @media (max-width: 1199px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media (max-width: 599px) {
      @content;
    }
  }
}

$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

@function flex-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  justify-content: flex-value($jc);
  align-items: flex-value($ai);
}

@mixin column-flexbox($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  align-items: flex-value($ai);
  justify-content: flex-value($jc);
}

@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
