$white: #fff;
// $black: var(--black);
$gray20: #d1dbd6;

$primary-green: #0bb76d;
$green90: #06130d;

$naver-bg: #03c75a;
$kakao-text: rgba(0, 0, 0, 0.85);
$kakao-bg: #fee500;
$google-text: #262200;
$google-boder: #d1dbd6;
$error-red: #ff3232;
