// SCSS 변수 선언 (이 부분은 최상단에 위치해야 함)
$white: #fff;
$black: var(--black);
$gray20: #d1dbd6;

$primary-green: #0bb76d;
$green90: #06130d;

$naver-bg: #03c75a;
$kakao-text: rgba(0, 0, 0, 0.85);
$kakao-bg: #fee500;
$google-text: #262200;
$google-boder: #d1dbd6;
$error-red: #ff3232;

// 라이트 모드와 다크 모드에 따라 CSS 커스텀 속성 선언
// :root[theme="light"] {
//   --white: #fff;
//   --black: var(--black);
//   --gray20: #d1dbd6;
//   --primary-green: #0bb76d;
//   --green90: #06130d;
//   --naver-bg: #03c75a;
//   --kakao-text: rgba(0, 0, 0, 0.85);
//   --kakao-bg: #fee500;
//   --google-text: #262200;
//   --google-border: #d1dbd6;
//   --error-red: #ff3232;
// }

// :root[theme="dark"] {
//   --white: var(--black);
//   --black: #fff;
//   --gray20: #d1dbd6;
//   --primary-green: #0bb76d;
//   --green90: #06130d;
//   --naver-bg: #03c75a;
//   --kakao-text: rgba(0, 0, 0, 0.85);
//   --kakao-bg: #fee500;
//   --google-text: #262200;
//   --google-border: #d1dbd6;
//   --error-red: #ff3232;
// }
