.workSide {
  display: flex;
}

.workSpaceWrap {
  background: var(--Gray100, #f9f9fb);
  min-width: calc(100% - 24rem);
  padding: 6.2rem 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}

.profile {
  display: flex;
  gap: 2.7rem;
  & > img {
    border-radius: 99px;
  }

  & > h2 {
    color: black;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    flex: 1;
  }
}

.dDay {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  align-self: flex-end;
}

.ddayNum {
  font-family: Quicksand;
  color: #000;
  font-size: 6.8rem;
  font-weight: 700;
  & span {
    color: #7034f3;
  }
}

.dashWrap {
  overflow-x: scroll;
  display: flex;
  gap: 5rem;
}

.sideMenuBox {
  min-width: 0rem;
  transition: all 0.5s;
}
.sideMenuBox.active {
  min-width: 24rem;
}
.side {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 4rem;
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
}
