.workSide {
  display: flex;
}

.workSpaceWrap {
  width: 100%;
  margin-top: 7rem;
  background: var(--Gray100, #f9f9fb);
  min-width: calc(100% - 24rem);
  padding: 6.2rem 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  @media all and (max-width: 599px) {
    margin-top: 3rem;
  }
}

.profile {
  display: flex;
  gap: 2.7rem;

  & > img {
    border-radius: 99px;
  }

  & > h2 {
    color: black;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    flex: 1;
  }

  @media all and (max-width: 599px) {
    & > img {
      width: 82px;
      height: 82px;
    }

    & > h2 {
      font-size: 1.7rem;
    }
  }
}

.dDay {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  align-self: flex-end;
  @media all and (max-width: 599px) {
    font-size: 1.3rem;
  }
}

.ddayNum {
  font-family: Quicksand;
  color: #000;
  font-size: 6.8rem;
  font-weight: 700;
  & span {
    color: #7034f3;
  }
  @media all and (max-width: 599px) {
    font-size: 3.6rem;
  }
}

.dashWrap {
  overflow-x: scroll;
  display: flex;
  gap: 5rem;
  position: relative;

  /* 우측으로 갈수록 점점 투명해지는 효과 (얇게 적용) */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 97%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 97%,
    rgba(0, 0, 0, 0) 100%
  );
}

.sideMenuBox {
  min-width: 0rem;
  transition: all 0.5s;
  @media all and (max-width: 599px) {
    display: none;
  }
}
.sideMenuBox.active {
  min-width: 24rem;
}

.saveModalWrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveModal {
  width: 37rem;
  height: 42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  font-size: 1.9rem;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  background: url(../../../public/icons/alert-icon.gif) top;
  background-size: 350%;
  background-position-y: -10%;

  & > p {
    line-height: 3.4rem;
    font-weight: bold;
  }

  & > button {
    width: 100%;
    background-color: #7034f3;
    font-weight: 500;
    color: white;
    padding: 1.4rem 0;
    border-radius: 1.2rem;
    font-size: 2rem;
  }

  & > Image {
    object-fit: cover;
  }
}
.dDayChange {
  width: 12rem;
}
