.filterTitle {
  width: 100%;
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  color: var(--Gray400, #c8c8d1);
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 21px */

  cursor: pointer;
}
.filterWrap {
  & > div {
    display: flex;
    width: 24rem;
    height: 4rem;
    padding: 0px 3rem;
    align-items: center;
    gap: 0.8rem;

    color: var(--Gray600, #6d6d80);
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
  }
  & label,
  input {
    cursor: pointer;
  }
}
