$speed: 0.4s;

.moWrap {
  position: relative;
  gap: 1rem;
  display: none;
  @media all and (max-width: 599px) {
    display: flex;
  }
  & > div {
    width: 10rem;
  }
  & .filterTitle {
    padding: 0;
    color: var(--Gray600, #756d80);
    border-radius: 7px;
    background: var(--Gray200, #f0eff2);
    justify-content: center;

    & img {
      display: none;
    }
  }
  & .filterWrap,
  .filterWrapOff {
    & > div {
      padding: 0;
    }
  }
  & .filterMo {
    width: 20rem;
    position: absolute;
    z-index: 2;
    top: 4.4rem;
    height: fit-content;
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #6d6d80;
    border-radius: 1rem;
    transition: opacity $speed ease-out, max-height $speed ease-out;
  }

  & .filterMoOff {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden; // 요소가 보이지 않도록 설정
    pointer-events: none; // 클릭 막기
  }
}

.filterTitle {
  width: 100%;
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  color: var(--Gray400, #c8c8d1);
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 21px */

  cursor: pointer;

  & > img {
    transition: all $speed;
  }
}

.filterWrap,
.filterWrapOff {
  transition: max-height $speed ease-out, opacity $speed ease-out;
  overflow: hidden;
  & > div {
    display: flex;
    width: 24rem;
    height: 4rem;
    padding: 0px 3rem;
    align-items: center;
    gap: 0.8rem;

    color: var(--Gray600, #6d6d80);
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
  }
  & label,
  input {
    cursor: pointer;
  }
}

.filterWrap {
  max-height: 100px; /* 적절한 최대 높이 설정 */
  opacity: 1;
}

.filterWrapOff {
  max-height: 0;
  opacity: 0;
}
