.wrap {
  position: fixed;
  border-right: 1px solid var(--Gray300, #e2e2e8);
  min-width: 24rem;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all 0.5s;
  @media all and (max-width: 599px) {
    display: none;
  }
}
.wrap.active {
  transform: translateX(0);
}
.sideMenuWrap {
  width: 100%;
  height: 42.2rem;
  margin-top: 7rem;
  border-bottom: 1px solid var(--Gray300, #e2e2e8);
  background: #fff;
  transition: all 1s;
  & > ul {
    display: flex;
    flex-direction: column;
  }
  & > ul li {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--Gray600, #6d6d80);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.45px;
    cursor: pointer;
  }
  & > ul .choiceMenu {
    color: var(--Primary-Color, #7034f3);
  }
}
