.logInWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logInWeddy {
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  margin-bottom: 14rem;
}

.weddyIntro {
  margin-top: 4rem;
}

.weddySpan {
  background-color: #7034F3;
}

.LoginBtn {
  width: 37rem;
  height: 6rem;
  background-color:#FEE500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 800;
}

.LogInP {
  margin-left: 1rem;
}